name: payments-tests

on:
  pull_request
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - run: cd payments && yarn install && yarn test:ci
        env: 
          STRIPE_KEY: sk_test_51Hv4IwDJfkPtdHtDbutq27LmOBurucygDUIUKxjGoqtxzrM2fACxU7L5TMaXHen14gsqV5DdWhmPAGbuq7k20ild00mZzGvpKq
